<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hi!</h1>
</body>
</html>
<script src="http://demo.ac/static/jquery.min.js"></script>
<script>
    $(function () {
        $.ajax({
            url: 'http://demo.ac/api/local',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                data.forEach(function (val) {
                    var img = document.createElement('img');
                    img.src = val.icon;
                    document.getElementsByTagName('body')[0].appendChild(img);
                })
            }
        });
    });
</script>