<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        ul {
            padding-left: 0;
            font-family: Helvetica, Arial, sans-serif;
        }
        .staggered-transition {
            transition: all .5s ease;
            overflow: hidden;
            margin: 0;
            height: 20px;
        }
        .staggered-enter, .staggered-leave {
            opacity: 0;
            height: 0;
        }
    </style>
</head>
<body>
<div id="demo">
    <div class="form-group">
        <input class="form-control" type="text">
    </div>
    <input v-model="query">
    <ul>
        <li v-for="item in list | filterBy query"
            transition="staggered"
            stagger="100">
            {{item.msg}}
        </li>
    </ul>
</div>
</body>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#demo',
        data: {
            query: '',
            list: [
                { msg: 'Bruce Lee' },
                { msg: 'Jackie Chan' },
                { msg: 'Chuck Norris' },
                { msg: 'Jet Li' },
                { msg: 'Kung Fury' }
            ]
        }
    })
</script>
</html>